@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

body {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin-top: 250px;
  font-size: 50px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  color: #003171;
}

button {
  font-family: "Poppins";
  height: 50px;
  width: 200px;
  margin: 50px 100px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  border-style: none;
  color: #fff;
  background-color: #003171;
}

input,
label,
select {
  display: block;
  margin: 15px;
  font-size: 22px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

label {
  margin: 0px;
  height: 40px;
}

form {
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  border-radius: 20px;
  background-color: #87ceeb;
}

.buttons-div {
  display: flex;
  justify-content: center;
}

.buttons-div > button {
  margin: 10px;
  width: 100px;
}

.Success {
  font-size: 20px;
  color: #00a300;
}

.Error {
  font-size: 15px;
  color: #ff0000;
  margin-bottom: 5px;
}
